{% extends "main.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    {% block content %}
        {% comment %} {% if  number > 10%}
            <p>number is greater than 10</p>

        {% elif  number == 10 %}
            <p>Number is 10</p>

        {% else %}
        <p>Number is lees then 10</p>

        {% endif %} {% endcomment %}

        <p>Hello you are on the {{page}} page</p>
    
    <h1>Projects Template</h1>
    <hr>

    <h1>Projects</h1>

    <ul>
        {% for project in  projectsList %}
            <li>
                Title: <a href="{% url 'project' project.id %}">{{project.title}}</a> ---
                 {{project.description}}.
            </li>
        {% endfor %}
    </ul>

    {% endblock content %}
</body>
</html>