{% extends "main.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Project</title>
</head>
<body>
    {% block content %}
        <h1>Single Project</h1>
        <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est nostrum magni distinctio dolorum, perspiciatis cum ut repellat magnam quibusdam velit ducimus placeat dolore minus, harum vel praesentium ex nesciunt sapiente!

        </h3>
    {% endblock content %}
</html>